<section>

	<h2 id="about-me"></h2>
	
	<div class="face-lockup">
	
		<div class="face-img"></div>
		
		<div class="icon-design"></div>
		<div class="icon-code"></div>
		<div class="icon-analytics"></div>
		<div class="icon-graph"></div>

	</div>

	<div class="about-blurb">
		{{ site.data.portfolio.blurb }}
	</div>

	<img src="/assets/img/process.png" style="margin-left: auto; margin-right: auto; display: block">
	<br />
	<br />
	<br />

<!--div class='skill-lockup'>


	{% for skill in site.data.portfolio.skills %}

      <div class="skill-unit">
        <div class="skill-label">{{ skill.name }}</div>
        <div class="skill-icons skill-{{ skill.value }}">
          <span></span><span></span><span></span><span></span><span></span>
          <span></span><span></span><span></span><span></span><span></span>
        </div>
      </div>    

    {% endfor %}
</div-->


</section>