<?xml version="1.0" encoding="utf-8"?>
<!-- Generator: Adobe Illustrator 16.0.0, SVG Export Plug-In . SVG Version: 6.00 Build 0)  -->
<!DOCTYPE svg PUBLIC "-//W3C//DTD SVG 1.1//EN" "http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd">
<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 width="40px" height="40px" enable-background="new 0 0 40 40" xml:space="preserve">
<image overflow="visible" width="64" height="64" xlink:href="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAEAAAABACAYAAACqaXHeAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJ
bWFnZVJlYWR5ccllPAAAAyFpVFh0WE1MOmNvbS5hZG9iZS54bXAAAAAAADw/eHBhY2tldCBiZWdp
bj0i77u/IiBpZD0iVzVNME1wQ2VoaUh6cmVTek5UY3prYzlkIj8+IDx4OnhtcG1ldGEgeG1sbnM6
eD0iYWRvYmU6bnM6bWV0YS8iIHg6eG1wdGs9IkFkb2JlIFhNUCBDb3JlIDUuNS1jMDIxIDc5LjE1
NDkxMSwgMjAxMy8xMC8yOS0xMTo0NzoxNiAgICAgICAgIj4gPHJkZjpSREYgeG1sbnM6cmRmPSJo
dHRwOi8vd3d3LnczLm9yZy8xOTk5LzAyLzIyLXJkZi1zeW50YXgtbnMjIj4gPHJkZjpEZXNjcmlw
dGlvbiByZGY6YWJvdXQ9IiIgeG1sbnM6eG1wPSJodHRwOi8vbnMuYWRvYmUuY29tL3hhcC8xLjAv
IiB4bWxuczp4bXBNTT0iaHR0cDovL25zLmFkb2JlLmNvbS94YXAvMS4wL21tLyIgeG1sbnM6c3RS
ZWY9Imh0dHA6Ly9ucy5hZG9iZS5jb20veGFwLzEuMC9zVHlwZS9SZXNvdXJjZVJlZiMiIHhtcDpD
cmVhdG9yVG9vbD0iQWRvYmUgUGhvdG9zaG9wIENDIE1hY2ludG9zaCIgeG1wTU06SW5zdGFuY2VJ
RD0ieG1wLmlpZDoyRjNDMEQwMzA0RDQxMUU0QjJDN0U3RDkxQzNFRkY4QiIgeG1wTU06RG9jdW1l
bnRJRD0ieG1wLmRpZDoyRjNDMEQwNDA0RDQxMUU0QjJDN0U3RDkxQzNFRkY4QiI+IDx4bXBNTTpE
ZXJpdmVkRnJvbSBzdFJlZjppbnN0YW5jZUlEPSJ4bXAuaWlkOjJGM0MwRDAxMDRENDExRTRCMkM3
RTdEOTFDM0VGRjhCIiBzdFJlZjpkb2N1bWVudElEPSJ4bXAuZGlkOjJGM0MwRDAyMDRENDExRTRC
MkM3RTdEOTFDM0VGRjhCIi8+IDwvcmRmOkRlc2NyaXB0aW9uPiA8L3JkZjpSREY+IDwveDp4bXBt
ZXRhPiA8P3hwYWNrZXQgZW5kPSJyIj8+N64c7wAAB5ZJREFUeNrMW3lslUUQ3z6hROwFoSLYBjTI
GYlCiSCXN6AGiAqJIOLFmVpFEI0HhyRelEC5kipRiFCieCAYAfUPUVFE0QQjFa3hRgXkaoGIMXVG
fs9sp/P1te/b/fom+f3xdt/bnZm3OzvHbtq2Bfcbz3QpoQ+hC6EzoSPhEkI2IRPfqSScJPxO+Jnw
E6Gc8BXhoE/mmngatydhFOFWCJ2IMoE8QoHoY2V8SCgjbE9lBbAAEwi8pLo6HLcz8BhhJ+F1QilW
TWiKORgjhzCTsIcw17Hwkrpijj2YM6cxV0AaYSwYalXH9/4hfE/4jPAD4RfCfsIJwil8JwvC5BM6
ELoTBhCuJlygjNmSMItQSHicsIJQnZQQSRpBZnI5oW9A/9+EjYRVhE0QNtnVNQj2ZAihacD3tuDP
+DWKLTACxkgT/hhhNozZUMKbIYQ3+C2PMQxjzsYckpiX78CbNwXwki8mvIUla9NZ7Mn2WJqHPez/
wxi7PeY6K/qzwFsxeHWqgHTCSsJUpY+PqG6E51xZ5gRUibm6YW5JU8FruisF8EDvYx/a9BehiHA7
YbeJnnZj7ofBi02jwHN6WAXwUnqNMFi0HyL0IyxK1vo6Ip57MXg5JPoGg/e0MAp4gTBatO2Ca/ut
SR1iXnrDa7SJeX8xWQXcRXhCtLGfPpCwz6QesW9xHf4gm6bXdToEKeBywjLRdoBwI+EPk7rEvN0E
Xm16FTLVSwFp8KyyrbZzhOHKwKlIB8DrOastGzKl1UcBY2FUbJrmIxJT6GbCn4SPFR4aQtvBs008
3n2JFMCu58ui7QNYe9/E22st/Hxexh8hh5AsLQLvNr0kAyipgEcIudbnKsKkCIS/nrCO0NxquxBn
fBiaBBnilAsZVQVkwLGRGvO97wfin2ou2k9i34a1B/IYLLIyUTUUMBHLL07HCSWehR8Ad1YKfwYB
0NcO5lgIWexQeoJUAFvH8eKHJZ59+/4Bwp+DD7LZYeywULRNiJ8IcQWwZ3eFiOeXehS+H4S/SEme
sPe2wfF8SyGTnc/oYytAekrMwBFPwveF8BmKX/8g4W1PobRU6khbATLYWelJ+GshfKbSV+TA6NVF
byjB0n8K4ExLZyWd5Zr6QPgspe9pRHU+aaPwDjsR8mOIomz6xoPxuwZLMDsg4nw+Al+jCrLV+FNY
AVeJxq2OJ+5lzidGNeGXEJ6KME6Qx2r3mOJu7nI4YQH8ek34FQ48vYaSlK0LK6CdaCx3NFnPOoR/
BxY/6mySlK0dK6CNaNzrYKIeED4nwBiNwpkfNUnZWsWUI+mEA+E/IbRQ+ti7u1NY4yjpuPicoSng
VIgJcmDwNOG3wb8/04jJEnm6ZcYinLxauKONQelaQkRqJSvEBLx9BgVsI/YFVhu92BkVydVeqSkg
bMmZa3S3IJ6XxPXChLn6CBVQxQr4TR4NDiZij2tIgD25NyLPT6N88floTDkaujiajO/33EY4rfQ9
aaJJtZkEsu2NKc5BJ4cTfgElaJafk5bDI1ZAR+kYsQJ2iMbejifdHHD8sTHk2v8NESpAyrYjhqUq
/fcMxxOzY3SHqV3F5WPpXcKVEQifYWrfQNvKCtgvgoR0JUHigjZBCdILzEaeIM+zAlimZtZnrnPu
i1n+uU1jPDHBgo5UlJCHvlyPCpAybYg7QkxrROcQj8zwxYW7Fa+Qt8F6UztL7IJyIZNNa2wFfEmo
sDr5NtZkj/8G7/vRSkToy1ucbGreMKuAzP8rgP30UvGjIg/GUP4DYxQlDDVua5Faxas0nouIiUZZ
QZni2TCtRmJEKoGdpDmO5phiale8Su1gyA4VSxSP7TLPSuDU2HglO/SMUcrZDaT2kMGmhXb8I8Nh
VoBdEGluoimNc4A0UVFCh5DjLhZG9YgRZbKYEs7Ke0HsyhZGoIRXsFfjSuBbX/NDjFcI3m1i2Wrc
NNXuCnOo+rmpeRWWz22u6kRxS+QhbLslpvbVt/pST1h5OwHC94n7y1XWJCBzMxbCZlveIZ/RA8Rx
6YOWhfw9b5t1QviTkKlaywhpxLeux4m2NvCeWpvUpdbgsa1oH2cCbpLHEpzTcxXtfqokFlKB8sGb
NJzFiqdbLwXEjcYq0caF1K1KZNWYVACe5Psk5n16XT9MpADeMw8owVJbJDsKU0D4QvAil/1G8F4d
RgHxE4ATGmWivRl8hPUROEtBTs568NBM9JWB54QFmPrWBXigewjzlD6+sv4j4VmjX3xwTZnwEndi
bknzwGu9qk8NKYzwUpqGeF5me/lOHz9i2EOYQbjYU0g7A3PMwZw2nQJv00wDiq7JVIbWwNHYovRx
0MHvevh+3lowFKbOwL8dgbEOYuyWyveYlx51WfsgSvbZXAW8Kg5W+GqtfDbXFHtwGCI9Lpbws7kd
+O1+uKSn8V0OWVvgHOfbavFncz0S5AaOwsovN0mW2sO8G+QJ+RXne4RHzfnLDtq/wwL0AlzRMQQ6
803IaraL4igzMAtWmR8xlns0gOWYg+eaacKX8o3L6nAlvK6ucExKHMUNFRirAGMXG4eXuHy9Ht8O
8NaIP5/nZ25cdYo/n2+BWJ2To1XI1DA4Xb0LR6v35/P/CjAAksGbmtN4UGUAAAAASUVORK5CYII=" transform="matrix(0.6224 0 0 0.6224 0.083 0)">
</image>
</svg>
