<?xml version="1.0" encoding="utf-8"?>
<!-- Generator: Adobe Illustrator 16.0.0, SVG Export Plug-In . SVG Version: 6.00 Build 0)  -->
<!DOCTYPE svg PUBLIC "-//W3C//DTD SVG 1.1//EN" "http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd">
<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 width="100px" height="100px" enable-background="new 0 0 100 100" xml:space="preserve">
<g id="lduBKP_1_">
	
		<image overflow="visible" width="98" height="98" id="lduBKP" xlink:href="data:image/jpeg;base64,/9j/4AAQSkZJRgABAgEASABIAAD/7AARRHVja3kAAQAEAAAAHgAA/+4AIUFkb2JlAGTAAAAAAQMA
EAMCAwYAAAIhAAADPAAABQn/2wCEABALCwsMCxAMDBAXDw0PFxsUEBAUGx8XFxcXFx8eFxoaGhoX
Hh4jJSclIx4vLzMzLy9AQEBAQEBAQEBAQEBAQEABEQ8PERMRFRISFRQRFBEUGhQWFhQaJhoaHBoa
JjAjHh4eHiMwKy4nJycuKzU1MDA1NUBAP0BAQEBAQEBAQEBAQP/CABEIAGIAYgMBIgACEQEDEQH/
xACTAAEAAgMBAQAAAAAAAAAAAAAABAUCAwYBBwEBAAAAAAAAAAAAAAAAAAAAABAAAgICAgEEAgMA
AAAAAAAAAwQBAgAFECATUBESFDEyISMVEQACAAQEBAQDCAMAAAAAAAABAgARIQMxQVESECBhgXEi
MkKxghMw8JGhwdHhBGIjMxIBAAAAAAAAAAAAAAAAAAAAUP/aAAwDAQACEQMRAAAA+gGJ7Er4BPh4
DKTEF3P5WQdG07gDyksKAE0ibrmMVHnQ0xHBu6Ll7UtgUcDPAdDQXhReBsu6DoDnwNuodOphDxlx
BfUOZIiXO8r5euac2lxAZEhcCPS9VzpHAA3aR0lDhieWEHozcBp3Dm9HUVhVNuoGRjlOtTTMAAAD
XTBruAkgAA//2gAIAQIAAQUA9R//2gAIAQMAAQUA9R//2gAIAQEAAQUA5Y2S4MNt2L5Y5bZBSVwO
zZFi+3CTK2raOl71pV3Z3NPZR4y1l2BsD52bsmvwMRCTKDkRatqTyo1dYoyVJTNkz4F+Ndr/ALMl
aURrG7D7xKewE6ndQvOmZ/nNub5sZETMktVFK97Xti57rlfpVlHlUkiP5aYe3yLgpipdtWbJcx/V
ren2JwsfEnCDFG1W9cZe3tM4hrCEvuC3ot08U5sw+JngJiAIDchtH+ihGG3VIkRQOAfQsrbgNJIX
6lM26/kD2VaIqQRQOAcDUDOahf5my1YtV5SyxuwjmBNrWvYQ7luqvVcPDC42BtKFWv2EK5boo1Vr
0IOhKs6acIqcU8UCUkr6g18XVCvXub9GPyL8qfp1/9oACAECAgY/AEf/2gAIAQMCBj8AR//aAAgB
AQEGPwDiRPe+gghAEEeZpxRolMMNDAW6Nh1yiamYOY5SzGSipJg27J229czz0M0zUwHtnxGY5DZt
n/WuPU8ZW1LnQCcT+i0bXBUjIiR5A6+k+oaiA6GasJjgZet6Dj9S5Syp7sdIFugIwtoKxW2wGtII
o4HZljaao1UbUch/rseq8AgNEH5ngAMTQR5R/wA1AXqx/mC7mbMZkngt1DUYjUaGC61kouIe0/hy
I+hrGOU4ZuCMcAwJ/GGI9pBPhOXJJ8Vs1Hy8uPthhx+m9WUbLinMYT7wSoL2smFZD/KJDGBdvrtt
ioU4t20gIoO1zJmyAFZd+X5YMsGExxFy2drD71iV9SjZkVX943fUE+gM/hAFhN1alqU6RMeZGoyn
LoY3L5rLeltOh4qg9xAjtKBdUVt4+HPvSoPqXJhEx5kajKcuhh7SmaqRKfUA/rwN0jyph48CpqDQ
iCvsNVPOTacoTjLOCzEsxqScYFtBNmhba4jE6nibbjwOhja4muTZHnCWxuYxuat04nToOUo4DKcj
Bb+uflMedCOvGSKW8BAN07F0zjbbWRzOZ+wOHeD6Y9sZdub/2Q==" transform="matrix(0.9999 0 0 0.9999 1.0127 1)">
	</image>
</g>
</svg>
